.login{
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 19, 59);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 80%;
    display: flex;
}


.loginLeft{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 20px;
    justify-content: center;
}


.loginLogo{
    font-size: 60px;
    font-weight: 800;
    color: white;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}


.loginRight{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 20px;
    justify-content: center;

}




.bottomBox{
    height: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgb(187, 131, 59);
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 18px;
    border: 1px solid black;
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    width: 100%;
    background-color: rgb(36, 19, 59);
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.signUpButton{
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}