.onlineFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}


.onlineProfileImgContainer{
    margin-right: 10px;
    position: relative;
}

.onlineProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.onlineProfileName{
    font-weight: 500;
    color: #333;
}